apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-2bsj
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-2bsj
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-2bsj
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-2bsj
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-2bsj
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-oucx-tenant/rhtap-demo-app/hacbs-test-project-2bsj@sha256:18db30edded1e1d5e8d44eb021450ecd581de1869f6691664fe450b80a055ddd
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
